.article{
  width: 100vw;
  height: calc(100vh - 67.2px);
  position: relative;
}
.article p{
  color: rgb(233, 223, 19);
  font-size: 90px;
}
.main-photo{
  width: 100%;
  height: calc(100vh - 67.2px);
  object-fit: cover;
}
.p-text-in-main{
  width: 50px;
  position: absolute;
  top: 0;
  left: 60px;
}
.p-text-in-main .family{
  transition: all 0.5s;
}
.p-text-in-main .family:hover{
  font-size:200px;
  color: rgb(231, 32, 35);
}
