*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: rgb(122, 69, 255);
}
.main{
  width: 100vw;
  height: 100vh;
}
.main-header{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.sub-header{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.menu{
  height: 50%;
  padding: 5px 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(90, 44, 215);
  border: none;
  border-radius: 10px;
}
.restart{
  height: 50%;
  padding: 5px 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(90, 44, 215);
  border: none;
  border-radius: 10px;
}
.table{
  width: 50px;
}
.arrow{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -35px;
  right: 42%;
}
.section{
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  
}
.section-one{
  /* background-color: yellow; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.so-main{
  background-color: white;
  width: 100px;
  height: 100px;
  border: 3px solid rgb(3, 3, 55);
  border-radius: 10px;
  box-shadow: 0 8px 2px rgb(3, 3, 55);
  position: relative;
}
.smile{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 30px;
}
.so-text1{
  font-size: 18px;
  font-weight: bold;
  color: rgb(3, 3, 55);
  margin-top: 15px;
  text-align: center;
}
.so-text2{
  font-size: 35px;
  font-weight: bolder;
  color: rgb(3, 3, 55);
  text-align: center;
}
.section-two{
  background-color: white;
  flex: 2;
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px 55px;
  gap: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 3px solid rgb(3, 3, 55);
  box-shadow: 0 5px 2px rgb(3, 3, 55);
  z-index: -1;
}
.st-one{
  width: 50px;
  height: 50px;
  background-color: rgb(122, 69, 255);
  border: none;
  border-radius: 50%;
  box-shadow: 0 7px 2px black inset;
}
.st-two{
  width: 50px;
  height: 50px;
  background-color: rgb(255, 208, 108);
  border: none;
  border-radius: 50%;
  box-shadow: 0 7px 2px black inset;
}
.st-three{
  width: 50px;
  height: 50px;
  background-color: rgb(252, 102, 132);
  border: none;
  border-radius: 50%;
  box-shadow: 0 7px 2px black inset;
}
.section-three{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 100%;
  height: 25%;
  background-color: rgb(92, 44, 213);
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  bottom: 5px;
  z-index: -2;
}
.pantagon{
  width: 120px;
  height: 120px;
  background-color: rgb(252, 102, 132);
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 99%, 0% 38%);
  position: absolute;
  bottom: 20px;
  right: 45.5%;
  z-index: 1000;
}
.text-pantagon{
  padding-top:40px;
  margin: auto;
  text-align: center;
}
.text-pantagon p{
  color: white;
}
.pan-text1{
  font-size: 10px;
  font-weight: bolder;
}
.pan-text2{
  font-size: 40px;
  font-weight: bold;
}